/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .promo {
        padding: 21px 0 30px 0;
        min-height: 600px;
    }

    .advantages {
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
        }
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    .container{
        max-width: 850px;
        
    }
    .catalog__content {
        justify-content: space-evenly;
    }
    .catalog-item {
        margin-bottom: 60px;
    }    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .promo {
        padding: 21px 10px 30px 10px;
        min-height: 500px;
        &__wrapper {
            align-items:center;
            margin-top: 60px;
        }
        &__icons {
            margin-top: 30px;
        }
        &__subheader {
            margin-top: 5px;
        }
    }
    .advantages {
        padding: 30px 10px 30px 0px;
    }
    .consultation {
        padding: 80px 0 72px 20px ;
        min-height: 600px;
    }
    .title {
        &_left {
            text-align: center;

        }
    }
    .catalog {
        padding-bottom: 10px;
        &__tab {
            width: 200px;
        }
    }
    .feed {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 350px;
        }
        &__official {
            margin-top: 20px;
            font-size: 24px;
            span {
                margin-top: -12px;
                font-size: 28px;
            }
        }
        &__contacts {
            margin-top: 20px;
            a {
                font-size: 32px;
            }
            button {
                width: 290px;
                height: 50px;
                font-size: 26px;
            }
        }
    }

    .promo {
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 76px;
            width: 300px;
        }
        &__icon{
            width: 250px;
            margin-top: 66px;
            font-size: 24px;
            img {
                width: 95px;
                margin-bottom: 4px;
            }
        }
        &__link {
            font-size: 20px;
            a {
                font-size: 24px;
            }
        }
    }

    .button {
        &_main {
            font-size: 20px;
        }
        &_submit {
            font-size: 20px;
            height: 70px;
        }
    }

    .title {
        font-size: 30px;
        margin-top: 40px;
        &_left {
            text-align: center;
        }
    }
    
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;

        }
        &__item {
            margin-top: 40px;
            max-width: 400px;;
        }
        &__subtitle {
            margin-top: -4px;
            font-size: 24px;
        }
        &__descr {
            font-size: 20px;
            margin-top: 10px;
            a {
                font-size: 28px;
            }
        }
    }
    .consultation {
        padding: 1px 0 52px 0 ;
        min-height: 500px;
        &__descr {
            text-align: center;
            margin-top: 60px;
        }
    }
    .feed-form {
        margin: 20px auto;
        width: 95%;
        input {
            height: 70px;
            font-size: 26px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            
        }
        &__tab {
            margin-top: 10px;
            
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__text {
            align-items: center;
            margin: 20px auto;
        }
        &__descr {
            text-align: left;
            margin-top: 20px;
        }
    }
    .footer {
        min-height: 600px;
        &__info {
            width: 100%;
            height: 224px;
            padding: 30px 30px 30px 30px;
        }
        &__addr {
            font-size: 24px;
        }
        &__phone {
            font-size: 25px;
            margin-bottom: 36px;
        }

        
    }
}

/* Smartphones */
@media only screen and (max-width : 320px) {
    .promo {
        width: 100%;
        &__header {
            font-size: 36px;
        }
        &__icons {
            width: 100%;
        }
        &__link {
            a {
                font-size: 20px;
            }
        }
    }
    .container {
        width: 100%;
    }
    .feed-form {
        width: 95%;
    }
    .header {
        &__logo {
            width: 95%;
        }
    }
    .catalog {
        width: 100%;
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__tabs {
            margin-top: 50px;
        }
        .title {
            margin-top: 0;
        }
    }
    .feed {
        width: 95%;
        &__descr {
            font-size: 14px;
        }
    }
}