.feed {
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        
        padding: 50px 0;
        border-bottom: 1px solid #e8e8e8;
        
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 65px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 1.0;
        font-weight: 700;
        color: #0d0d0d;
        margin-bottom: 8px;
    }
    &__count {
        font-size: 14px;
        font-weight: 500;
        color: #646464;
        margin-bottom: 12px;
    }
    &__descr {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
        color: #0d0d0d;
    }
}